---
import { Aside } from '@astrojs/starlight/components';

type Props = {
  title: string;
  author: string;
  startDate: Date; 
  endDate: Date;
  whyRead: string;
  recommendation: string;
}

const { title, author, startDate, endDate, whyRead, recommendation } = Astro.props;
---

<Aside title="Info">
  <p>{Astro.locals.t('starlight:bookInfo.title')}: <b>{ title}</b> <br />
    {Astro.locals.t('starlight:bookInfo.author')}: <b>{author}</b>
  </p>
  
  <p>
    {Astro.locals.t('starlight:bookInfo.started')}: <b>{startDate.toLocaleDateString()}</b> <br />
    {Astro.locals.t('starlight:bookInfo.finished')}: <b>{endDate.toLocaleDateString()}</b>
  </p>

  <p>{Astro.locals.t('starlight:bookInfo.whyStarted')}: </b>{whyRead}</p>
  <p>{Astro.locals.t('starlight:bookInfo.recommendations')}: {recommendation}</p>
</Aside>

